{{ define "header_css" }}{{ end }}

{{ define "main" }}

{{- partial "vgwort.html" . -}}

{{/* https://tailwindcomponents.com/component/blog-post */}}
<article class="max-w-full prose-sm prose bg-white sm:prose lg:prose-lg xl:prose-xl">
    {{ with .Params.cover }}
        <div class="relative w-full h-64 mx-auto mb-4 md:mb-0">
            <div class="absolute bottom-0 left-0 z-10 w-full h-full" style="background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.7));"></div>
            <img src="{{ . }}" class="absolute top-0 left-0 z-0 object-cover w-full h-full m-0" title="{{ $.Params.coverCaption | plainify | default "cover picture" }}" alt="cover picture" />
    {{ else }}
        <div class="relative w-full h-40 mx-auto mb-4 md:mb-0">
            <div class="absolute bottom-0 left-0 z-10 w-full h-full" style="background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.7));"></div>
    {{ end }}
      <div class="absolute bottom-0 left-0 z-20 p-4">
        <div class="inline-flex items-center justify-center px-4 py-1 mb-2 bg-gray-100">
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                {{ .Date.Format $.Site.Params.dateFormat }}
            </time>
            {{ with .Params.categories }}
                    {{ range . }}
                    &nbsp;•&nbsp;<a class="no-underline hover:underline" href="{{ "categories" | absURL}}/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
            {{ end }}
        </div>
        <h1 class="text-4xl text-white">
            {{.Title}}
        </h1>
      </div>
    </div>

    {{ with .Params.coverCaption }}
        <div class="text-xs text-right" >{{ . | markdownify }}</div>
    {{ end }}
    
    {{- partial "licence.html" . -}}

    <div class="w-full px-4 mx-auto mt-8">
        {{- with .Params.toc -}}
            {{/* ToDo: Make toc sticky */}}
            {{/* ToDo: Accordion effect for toc */}}
            <div class="border lg:float-right border-sky-800">
                <h2 class="p-1 m-auto text-xl text-center text-white select-none bg-sky-800" id="toc">{{ i18n "tableOfContents" }}</h2>
                <div class="p-1 bg-gray-100">
                    {{ $.TableOfContents }}
                </div>
            </div>
        {{- end -}}
        {{ .Content }}
    </div>
</article>
{{ end }}