<div class="w-full m-3 mx-auto prose lg:max-w-full lg:px-0 hover:shadow-md lg:prose-xl">
      {{ if .Params.cover }}
        {{ with .Resources.GetMatch .Params.cover }}
          {{ $image := .Resize "x500" }}
          <div class="w-full h-56">
            <a href="{{ $.RelPermalink }}"><img class="object-cover w-full h-full" src="{{ $image.RelPermalink }}" title="{{ .Params.coverCaption | plainify | default "cover picture" }}" alt="cover picture"></a>
          </div>
        {{ end }}
      {{ end }}
      <div class="w-full max-w-full bg-white">
        <div class="inline-flex w-full h-auto text-gray-700">
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" class="inline-flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" height="20px" width="20px" class="h-auto mr-1">
              <title id="icon-readingtime">{{ i18n "date" }}</title>
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
            </svg>
            {{ .Date.Format $.Site.Params.dateFormat }}
          </time>
          &nbsp;|&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20px" height="20px" class="h-auto mr-1">
            <title id="icon-readingtime">{{ i18n "readingTime" .ReadingTime }}</title>
            <path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z" />
          </svg>
          {{ i18n "readingTime" .ReadingTime }}
          &nbsp;|&nbsp;
          {{/* ToDo: Better visual seperation of two or more categories */}}
          <div class="inline-flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20px" height="20px" class="h-auto mr-1">
              <title id="icon-categories">{{ i18n "categories" }}</title>
              <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
            </svg>
            {{ range .Params.categories }}
              <a href="/categories/{{ . | urlize }}" class="text-gray-700 hover:underline">{{ . }}</a>&nbsp;
            {{ end }}
          </div>
        </div>
        <article>
          <a href="{{ .RelPermalink }}" class="no-underline">
            <h1 class="text-2xl font-bold">{{ .Title }}</h1>
          </a>
          <div class="min-w-full text-justify text-black">
            {{ .Summary | plainify }}
            <a href="{{ .RelPermalink }}" class="italic">{{ i18n "readMore" | safeHTML }}</a>
          </div>
        </article>
        <div class="pt-4 pb-2">
          {{ range .Params.tags }}
              <a href="/tags/{{ . | urlize }}" class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full hover:underline hover:shadow">#{{ . }}</a>
          {{ end }}
        </div>
    </div>
</div>
<hr class="border-black" />